TARGET_USER=telas
ENABLE_AUTOLOGIN=true

# Use um token de leitura com escopo mínimo.
GITHUB_TOKEN=

PLAYER_REPO_SLUG=InnovatioLab/box-script-v2
PLAYER_REPO_BRANCH=main

BOX_API_KEY=
BOX_API_BASE_URL=https://api.telas-ads.com/api/
BOX_PORT=8081
BOX_ID=

INSTALL_TAILSCALE=true
TAILSCALE_AUTH_KEY=

DISPLAY_VALUE=:0
